header {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttons-container {
    display: flex;
    align-items: center;  
}

.header-button {
    color: #333;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#current {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

#recent {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.logo {
    width: 44px;
    order: 1;
}