.recents-container {
    width: 100%;
    max-width: 600px;
    height: 360px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recents-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 360px;
    min-height: 360px;
    overflow-y: auto;
}

.recent {
    padding: 10px;
    border-radius: 8px;
    max-width: 85%;
    background-color: #53d769;
    color: #fff;
    align-self: center;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
    overflow-x: clip;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.recent:hover {
    background-color: #3c9b4c;
}

.no-recents-container {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: inherit;
    gap: 10px;
}

.no-recents {
    font-size: 16px;
    font-weight: bold;
}